*{
    margin: 0;
    padding: 0;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(43, 25, 25);
}
.logo-container{
    display: flex;
    align-items: center;
    height: 80px;
}

.logo-container h2{
    /* border: 2px solid green; */
    display: inline-block;
    color: white;
    padding: 10px;
}

.middle-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.middle-nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

.book-trial-btn button{
    padding: 10px 15px;
    border-radius: 30px;
    color: aqua;
    border: 2px solid aqua;
    background-color: rgb(43, 25, 25);
}

.middle-nav ul li a:hover{
    color: aqua;
    transition: 0.5s ease-in-out;
}

.book-trial-btn button:hover{
    cursor: pointer;
    background-color: aqua;
    color: black;
    transition: 0.3s ease-in-out;
}

/* home */
.home{
    margin-right: 50rem;
    margin-left: 100px;
    width: 83%; 
    margin-top: 20px;  
    color: black;
    border-radius: 20px;

    background-color: antiquewhite;
}

.home .blog{
    
    border-radius: 10%;
    transform: ro;
}

.home .blog h1{
    color: blue;
    padding: 0.9rem;
}
.home .blog p{
    padding: 0px 0px 15px 15px;
}
/* photographs */
.photos-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
}

.photos-container .photo i{
    display: none;
    font-size: 50px;
    color: black;
    margin: 90px 130px;
}

.photos-container .photo:hover i{
    display: block;
    color: black;
    position: absolute;
}

.photos-container .photo:hover{
    opacity: 0.7;
    cursor: pointer;
}

.photo{
    width: 330px;
    height: 230px;
    margin: 10px;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* banner  */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    color: white;
    background-image: url("Images/banner.jpeg");
    background-repeat: no-repeat;
    background-size: 1300px 500px;
    padding: 50px 300px;
    opacity: 0.8;
}

.banner .book-trial-btn button{
    background: none;
}
.banner .book-trial-btn button:hover{
    color: aqua;
}

.banner p{
    padding: 10px;
}

/* footer */
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 50px 100px;
}

.photograph{
    width: 25%;
}
.photograph ul{
    list-style: none;
    display: flex;
}

.photograph ul li{
    padding: 5px;
}

.photograph p{
    margin: 5px;
}

.fa-facebook, .fa-twitter, .fa-instagram, .fa-linkedin
{
    color: aqua;
    padding: 10px;
    border: 1px solid aqua;
    border-radius: 20px;
}

.fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover,.fa-linkedin:hover{
    background-color: aqua;
    color: black
}

.contact-info ul li{
    list-style: none;
    margin: 5px;
}

.subscribe-btn button{
    padding: 10px 15px;
    border-radius: 30px;
    color: aqua;
    border: 1px solid aqua;
    background-color: black;
    cursor: pointer;
}


.newsletter .email input{
    background-color: black;
    height: 30px;
    width: 200px;
     border: 1px solid aqua; 
     border-radius: 10px;
     margin: 5px;
}
